<div class="content">
<input type="hidden" id="fileLocation">
	<div class="row">
		<div class="col-md-12">
			<span>Please click on the below link to download your
				converted file</span>
		</div>
	</div>
	<div class="row" id="imagePreview">
		<div class="col-md-12">
			<img alt="Image Preview" id="convertedImgView" src="">
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<form method="get" action="">
				<button type="submit">Download!</button>
			</form>
		</div>
		<div class="col-md-2">
			<button type="button" onclick="$('#imagePreview').show()">Preview Image</button>
		</div>
	</div>
</div>
